@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

body {
  font-family: Poppins;
}

.scrollableTable {
  overflow-y: auto;
  height: 70vh;
  width: 60.5vw;
  margin-bottom: 10vh;
  border-style: solid;
  border-color: black;
  border-radius: 0.5em;
  border-width: 0.3em;
}
.scrollableTable thead th {
  position: sticky;
  top: 0;
}
